filename#@#Web.config
/configuration/appSettings/add[@key='ApiBaseURL']/@value#@#http://localhost/ProjectManagement/API
/configuration/connectionStrings/add[@name='ProjectManagementContext']/@connectionString#@#Data Source=FSD;Initial Catalog=ProjectManagementProd;Integrated Security=True
/configuration/log4net/appender/file/@value#@#C:\ProjectManagementLogs\log.txt